<div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">
    <?php if($data['test']){?>
        <div id="paramInfo" class="headline">
            <h2><?php echo $data['test']['title'];?></h2>&nbsp;&nbsp;&nbsp;
            <code><a class="doc-edit" href="/test/edit/<?php echo $data['test']['id'];?>">编辑</a></code>
            <code><a class="doc-del" href="javascript:void(0);" onclick="delTest(<?php echo $data['test']['id'];?>)">删除</a></code>
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="warning">
                        <th>测试用例</th>
                        <th class="text-center" width="110">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($data['cases'] as $case){ ?>
                    <tr>
                        <td>
                            <?php echo $case['content']; ?>
                        </td>
                        <td class="text-center">
                            <button type="button" data-test_case_id="<?php echo $case['id'];?>" class="btn-u case-btn" style="height:24px;padding:5px 8px;font-size:11px;">执行</button> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="run_result"></div>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    <?php }else{ ?>
        
    <?php }?>
    <script type="text/javascript">
        function delTest(test_id){
            if(window.confirm("是否确定要删除？")){
                $.ajax({
                    url:"/test/del",
                    type:"POST",
                    dataType:"json",
                    data:{id:test_id},
                    success:function(data){
                        if(data.errno==0){
                            document.location.href="/test/";
                        }else{
                            alert(data.errmsg);
                        }
                    }
                })
            }
        }
        $(".case-btn").on('click',function(){
            var test_case_id=$(this).data("test_case_id");
            var that=this;
            $.ajax({
                url:"/test/run",
                type:"POST",
                dataType:"json",
                data:{test_case_id:test_case_id},
                beforeSend:function(){
                    $(that).text("正在请求中...");
                },
                success:function(data){
                    if(data.errno==0){
                        $(that).text("查看执行结果");
                        // console.log(data.data);
                        $(that).parents('tr').next().find('.run_result').html(data.data);   
                    }else{
                        $(that).text("执行报错");
                        alert(data.errmsg); 
                    }
                },
                complete:function(){

                },
                error:function(){
                    $(that).text("请求失败");
                }
            })
        })
    </script>
</div>