<div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">
    <?php if($data['test']){?>
        <div id="paramInfo" class="headline">
            <h2><?php echo $data['test']['title'];?></h2>&nbsp;&nbsp;&nbsp;
            <code><a class="doc-edit" href="/app/test/edit/<?php echo $data['test']['id'];?>">编辑</a></code>
            <code><a class="doc-del" href="javascript:void(0);" onclick="delTest(<?php echo $data['test']['id'];?>)">删除</a></code>
        </div>
        <div style="margin-bottom: 5px;">
            执行环境:&nbsp;&nbsp;
            <input class="env" type="checkbox" name="env" value="test" />&nbsp;TEST&nbsp;&nbsp;
            <input class="env"  type="checkbox" name="env" value="dev" checked />&nbsp;DEV&nbsp;&nbsp;
            <input class="env"  type="checkbox" name="env" value="staging" />&nbsp;STAGING&nbsp;&nbsp;
            <input class="env"  type="checkbox" name="env" value="live" />&nbsp;LIVE&nbsp;&nbsp;
            <div style="width: 110px;display: inline-block;float: right;text-align: center">
                <button type="button" class="btn-u run-all" style="height:24px;padding:5px 8px;font-size:11px;">执行全部</button> 
            </div>
        </div>
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="warning">
                        <th>测试用例</th>
                        <th class="text-center" width="110">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($data['cases'] as $case){ ?>
                    <tr>
                        <td>
                            <?php echo $case['content']; ?>
                        </td>
                        <td class="text-center">
                            <button type="button" data-test_case_id="<?php echo $case['id'];?>" class="btn-u case-btn" style="height:24px;padding:5px 8px;font-size:11px;">执行</button> 
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="2">
                            <div class="run_result">&nbsp;&nbsp;没有数据</div>
                        </td>
                    </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    <?php }else{ ?>
        
    <?php }?>
    <script type="text/javascript">
        $(".env").click(function(){
            var current=$(this).val();
            $(".env").each(function(i,item){
                if($(item).prop("checked") && $(item).val()!=current){
                    $(item).prop("checked",false);
                }
            })
        })
        function delTest(test_id){
            if(window.confirm("是否确定要删除？")){
                vk.post("/app/test/del",{id:test_id},null,function(){
                    document.location.href="/app/test/";
                });
            }
        }
        $(document).on('click',".case-btn:not('.waiting'):not('.over')",function(event){
            var self=this;
            console.log(1111);
            if($(self).hasClass('waiting')) return false;
            $(self).addClass("waiting");
            var test_case_id=$(self).data("test_case_id");
            var env=$("input[name=env]:checked").val();
            if(!env){
                alert("请先选择执行环境");
                $(self).removeClass("waiting");
                return false;
            }
            vk.post("/app/test/run",{test_case_id:test_case_id},function(){
                $(self).text("正在请求中...");
            },function(data){
                $(self).text("查看结果");
                console.log(data.data);
                $(self).parents('tr').next().find('.run_result').html(data.data.replace(/\n/g,'<br>').replace(/\s/g,'&nbsp;'));  
            },function(){
                $(self).removeClass("waiting");
                $(self).addClass("over");
            },function(){
                $(self).text("请求失败");
                $(self).removeClass("waiting");
                $(self).addClass("over");
            })
            return false;
        })
        $(document).on('click',".case-btn.over",function(event){
            $(this).parents("tr").next().toggle();
        });
        $(".run-all").on('click',function(){
            $(".case-btn").trigger('click');
            return false;
        })
    </script>
</div>