<div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">
    <?php if($data['detail']){?>
        <div id="paramInfo" class="headline">
            <h2><?php echo $data['detail']['title'];?></h2>&nbsp;&nbsp;&nbsp;
            <code><a class="doc-edit" href="/doc/edit/<?php echo $data['detail']['id'];?>">编辑</a></code>
            <code><a class="doc-del" href="javascript:void(0);" onclick="delDoc(<?php echo $data['detail']['id'];?>)">删除</a></code>
        </div>
        <div>
            <?php echo $data['detail']['content'];?>
        </div>
    <?php }else{ ?>
        
    <?php }?>
    <script type="text/javascript">
        function delDoc(docid){
            if(window.confirm("是否确定要删除？")){
                vk.post("/test/del",{id:docid},null,function(){
                    document.location.href="/test/";
                });
            }
        }
    </script>
</div>