<div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">

    <div id="paramInfo" class="headline">
        <h2><?php echo $data['api']['title'];?></h2>
    </div>
    <p class="api_url">
        <span class="label label-primary"><?php echo strtoupper($data['api']['type']);?></span> 
        <em><?php echo $data['api']['url']; ?></em>
        <i id="l_upload" class="fa fa-spinner fa-spin hide"></i>
    </p>
    <div class="container-fluid env-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row text-center feed_backmenu">
                        <div class="env col-md-2 col-sm-2"><a href="javascript:void(0);" data-env="test" class="">TEST</a></div>
                        <div class="env col-md-2 col-sm-2"><a href="javascript:void(0);" data-env="dev" class="cur">DEV</a></div>
                        <div class="env col-md-2 col-sm-2"><a href="javascript:void(0);" data-env="staging" class="">STAGING</a></div>
                        <div class="env col-md-2 col-sm-2"><a href="javascript:void(0);" data-env="live" class="">LIVE</a></div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <form id="httpform" action="/http/run" method="POST">
        <input type="hidden" name="url" value="<?php echo $data['api']['url']; ?>" />
        <input type="hidden" name="env" value="dev" />
        <table class="table hidden-xs" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="text-center console-index td-bottom" style="width: 100px;">参数名</th>
                    <th class="text-center console-index td-bottom" style="width: 100px;">参数值</th>
                    <th class="text-center console-index td-bottom text-left">描述</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button id="httprun" type="button" class="btn-u" style="height:36px;font-size:16px;width:66px;">发送</button> 
        <p></p>
        <code><a href="javascript:void(0);" onclick="enterFullscreen()">全屏</a></code>
        <div id="result" class="result"></div>
    </form>
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var current="",full=0;
        var editor = ace.edit("result");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        editor.getSession().setTabSize(4);
        editor.getSession().setUseWrapMode(true);
        editor.setHighlightActiveLine(true);
        // editor.setReadOnly(false);
        var loading=0;
        $("#httprun").click(function(){
            var that=this;
            $.ajax({
                url:$("#httpform").attr("action"),
                type:"POST",
                dataType:"text",
                data:$("#httpform").serialize(),
                beforeSend:function(){
                    if(loading) return false;
                    loading=1;
                    $(that).attr("disabled","disabled");
                },
                success:function(data){
                    console.log(data);
                    try{
                        var json=JSON.parse(data);
                        var str=JSON.stringify(json,null,4);
                        console.log(editor);
                        editor.setValue(str);
                        editor.moveCursorTo(0, 0);
                    }catch(error){
                        editor.setValue(data);
                        // editor.gotoLine(1);
                    }
                },
                complete:function(){
                    $(that).removeAttr("disabled");
                    loading=0;
                },
                error:function(){
                  $(that).removeAttr("disabled");  
                  loading=0;
                }
            })
        })
        $("a[key]").on('click',function(){
            var key=$(this).attr("key");
            $.ajax({
                url:"/api/http/get",
                type:"GET",
                dataType:"json",
                data:{key:key},
                success:function(data){
                    $(".headline h2").html(data.title);
                    $(".api_url em").html(data.url);
                    $(".api_url .label-primary").html(data.type);
                    $("input[name=url]").val(data.url);
                    if(data.params){
                        var html="";
                        for(field in data.params){
                            html+='<tr>';
                            if(data.params[field]['must']=='是'){
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;"><code>*</code>'+field+'</td>';
                            }else{
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;">'+field+'</td>';
                            }
                            html+='<td class="text-center td-bottom" style="width: 100px;">';
                            html+='<input type="text" name="'+field+'" />';
                            html+='</td>';
                            html+='<td class="text-center td-bottom text-left">'+data.params[field].desc+'</td>';
                            html+='</tr>';
                        }
                        $("tbody").html(html);
                        editor.setValue("");
                    }
                }
            })
        })
        $(".env a").on('click',function(){
            $(".env a").not(this).removeClass("cur");
            $(this).addClass("cur");
            $("input[name=env]").val($(this).data("env"));
        })
        function enterFullscreen(){
            var editor=document.getElementById('result');
            // W3C
            if (editor.requestFullscreen) {
                editor.requestFullscreen();
            }
            // FireFox  
            else if (editor.mozRequestFullScreen) {
                editor.mozRequestFullScreen();
            }
            // Chrome等  
            else if (editor.webkitRequestFullScreen) {
                editor.webkitRequestFullScreen();
            }
            // IE11
            else if (editor.msRequestFullscreen) {
                editor.msRequestFullscreen();
            }
        }
        // w3c
        document.onfullscreenchange = function ( event ) { 
            if(document.fullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'420px',width:'95%'});
            }
        };
        // chrome
        document.onwebkitfullscreenchange=function(event){
            if(document.webkitIsFullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'420px',width:'95%'});
            }
        }
        // FireFox
        document.onmozfullscreenchange=function(event){
            if(document.mozFullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'420px',width:'95%'});
            }
        }

        $(function(){
            if(!current && document.location.hash){
                current=document.location.hash.substr(1);
            }
            if(current){
                $("a[key="+current+"]").trigger("click");
            }
        })
    </script>
</div>