<?php if($data['api_list']){ ?>
    <div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">
        <div id="paramInfo" class="headline">
            <h2><?php echo $data['api']['title'];?></h2>
            <code><a class="http_send" href="javascript:void(0);" onclick="goToApi()">查看文档</a></code>
        </div>
        <p class="api_url">
            <span class="label label-primary"><?php echo strtoupper($data['api']['type']==1?"post":"get");?></span> 
            <em><?php echo $data['api']['url']; ?></em>
            <i id="l_upload" class="fa fa-spinner fa-spin hide"></i>
        </p>
        <?php echo $this->getTestHtml(3); ?>
        <form id="httpform" action="/http/run" method="POST">
            <input type="hidden" name="api_id" value="<?php echo $data['api']['id']; ?>" />
            <input type="hidden" name="url" value="<?php echo $data['api']['url']; ?>" />
            <input type="hidden" name="code" value="<?php echo $data['api']['code']; ?>" />
            <input type="hidden" name="env" value="dev" />
            <table class="table hidden-xs" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <th class="text-center console-index td-bottom" style="width: 100px;">参数名</th>
                        <th class="text-center console-index td-bottom" style="width: 100px;">参数值</th>
                        <th class="text-center console-index td-bottom text-left">描述</th>
                    </tr>
                </thead>
                <tbody id="api_params"></tbody>
            </table>
            <button id="httprun" type="button" class="btn-u" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">发送</button> 
            <button id="httpsave" type="button" class="btn-u" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">保存</button> 
            <p></p>
            <code><a href="javascript:void(0);" onclick="enterFullscreen()">全屏</a></code>
            <code><a href="javascript:void(0);" onclick="saveExample()">保存为事例代码</a></code>
            <code id="fixed"><a href="javascript:void(0);" onclick="disableScroll()">向上固定</a></code>
            <code id="unfixed" style="display: none;"><a href="javascript:void(0);" onclick="enableScroll()">取消固定</a></code>
            <div id="result" class="result"></div>
        </form>
        <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            var current="",full=0;
            var editor = ace.edit("result");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            editor.getSession().setTabSize(4);
            editor.getSession().setUseWrapMode(true);
            editor.setHighlightActiveLine(true);
            editor.setReadOnly(true);
            var loading=0;
            $("#httprun").click(function(){
                var that=this;
                $.ajax({
                    url:$("#httpform").attr("action"),
                    type:"POST",
                    dataType:"text",
                    data:$("#httpform").serialize(),
                    beforeSend:function(){
                        if(loading) return false;
                        loading=1;
                        $(that).attr("disabled","disabled");
                    },
                    success:function(data){
                        console.log(data);
                        try{
                            var json=JSON.parse(data);
                            var str=JSON.stringify(json,null,4);
                            console.log(editor);
                            editor.setValue(str);
                            editor.moveCursorTo(0, 0);
                        }catch(error){
                            editor.setValue(data);
                            // editor.gotoLine(1);
                        }
                    },
                    complete:function(){
                        $(that).removeAttr("disabled");
                        loading=0;
                    },
                    error:function(){
                      $(that).removeAttr("disabled");  
                      loading=0;
                    }
                })
            })
            $("a[key]").on('click',function(){
                enableScroll();
                scrollStart();
                var api_id=$(this).data("id");
                vk.post("/app/http/get",{id:api_id},null,function(data){
                    var api=data.api;
                    $(".headline h2").html(api.title);
                    $(".api_url em").html(api.url);
                    $(".api_url .label-primary").html(api.type==1?'POST':'GET');
                    $("input[name=api_id]").val(api.id);
                    $("input[name=url]").val(api.url);
                    $("input[name=code]").val(api.code);
                    if(api.params){
                        var html="";
                        for(index in api.params){
                            html+='<tr>';
                            if(api.params[index]['must']==1){
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;"><code>*</code>'+api.params[index].name+'</td>';
                            }else{
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;">'+api.params[index].name+'</td>';
                            }
                            html+='<td class="text-center td-bottom" style="width: 100px;">';
                            html+='<input type="text" name="'+api.params[index].name+'" />';
                            html+='</td>';
                            html+='<td class="text-center td-bottom text-left">'+api.params[index].remark+'</td>';
                            html+='</tr>';
                        }
                        $("#api_params").html(html);
                        editor.setValue("");
                    }
                })
            })
            $(".env a").on('click',function(){
                $(".env a").not(this).removeClass("cur");
                $(this).addClass("cur");
                $("input[name=env]").val($(this).data("env"));
            })
            function enterFullscreen(){
                var editor=document.getElementById('result');
                // W3C
                if (editor.requestFullscreen) {
                    editor.requestFullscreen();
                }
                // FireFox  
                else if (editor.mozRequestFullScreen) {
                    editor.mozRequestFullScreen();
                }
                // Chrome等  
                else if (editor.webkitRequestFullScreen) {
                    editor.webkitRequestFullScreen();
                }
                // IE11
                else if (editor.msRequestFullscreen) {
                    editor.msRequestFullscreen();
                }
            }
            // w3c
            document.onfullscreenchange = function ( event ) { 
                if(document.fullScreen){
                    $("#result").css({height:'100%',width:'100%'});
                }else{
                    $("#result").css({height:'660px',width:'95%'});
                }
            };
            // chrome
            document.onwebkitfullscreenchange=function(event){
                if(document.webkitIsFullScreen){
                    $("#result").css({height:'100%',width:'100%'});
                }else{
                    $("#result").css({height:'660px',width:'95%'});
                }
            }
            // FireFox
            document.onmozfullscreenchange=function(event){
                if(document.mozFullScreen){
                    $("#result").css({height:'100%',width:'100%'});
                }else{
                    $("#result").css({height:'660px',width:'95%'});
                }
            }
            function preventWhell(event){
                event.preventDefault(0);
            }
            function preventArrow(event){
                if(event.key == "ArrowDown" || event.key == "ArrowUp"){
                    event.preventDefault();
                }
            }
            function disableScroll(){
                window.addEventListener("wheel",preventWhell);
                window.addEventListener("keydown",preventArrow);
                document.getElementById("result").style.height=(window.innerHeight-20-65)+"px";
                window.scrollTo(0,document.body.offsetHeight-document.getElementById("result").offsetHeight-20);
                $("#unfixed").show();
                $("#fixed").hide();
            }
            function enableScroll(){
                window.removeEventListener("wheel",preventWhell);
                window.removeEventListener("keydown",preventArrow);
                $("#unfixed").hide();
                $("#fixed").show();
            }
            function scrollStart(){
                window.scrollTo(0,0);
            }
            function saveExample(){
                var api_id=$('input:hidden[name=api_id]').val();
                if(vk.check_empty(api_id,"未指定接口")) return false;
                var code=editor.getValue();
                if(vk.check_empty(code,"example为空")) return false;
                vk.post("/api/example/save",{api_id:api_id,code:code},null,function(){
                    vk.notice("保存成功");
                })
            }
            function goToApi(){
                var code=$("input[name=code]").val();
                document.location.href="/api#"+code;
            }
            $(function(){
                if(!current && document.location.hash){
                    current=document.location.hash.substr(1);
                }
                if(current){
                    $("a[key="+current+"]").trigger("click");
                }
            })
        </script>
    </div>
    <div id="http_save_modal" style="display: none">
        <form id="http_form" method="post" class="form-horizontal" novalidate="novalidate">
            <table class="table no-border">
                <tr>
                    <td widtd="110">标题</td>
                    <td width="270">
                        <input style="width: 100%" type="text" name="title" value="" />
                    </td>
                </tr>
                <tr>
                    <td widtd="110">类别</td>
                    <td width="270">
                        <select name="cat_id" id="">
                            <option value="">--请选择类别--</option>
                            <?php foreach($data['cats'] as $cat){?>
                                <option value="<?php echo $cat['id'];?>" name="cat_id"><?php echo $cat['name'];?></option>
                            <?php }?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td widtd="110">是否公开</td>
                    <td>
                        <input type="checkbox" name="is_public" value="1" checked />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button type="button" class="btn-u" onclick="httpSave()" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">保存</button> 
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        $("#httpsave").on('click',function(){
            vk.modal('#http_save_modal');
        })
        function httpSave(){
            var title=$("#http_form input[name=title]").val();
            var is_public=$("#http_form input[name=is_public]:checked").val();
            var cat_id=$("#http_form select[name=cat_id]").val();
            var api_id=$("input[name=api_id]").val();
            var api_params=$("#api_params input").serialize();
            var api_return=editor.getValue();
            console.log(api_params)
            console.log(api_return)
            vk.post("/app/http/save",{title:title,api_id:api_id,api_params:api_params,api_return:api_return,is_public:is_public,cat_id:cat_id},null,function(){
                $("#http_form input[name=title]").val("");
                vk.close();
            })
        }
    </script>
<?php }else{ ?>
    <div style="margin-top: 40px;" class="text-center">
        <p>还没有相应的api接口地址</p>
        <p><a href="/app/api/add" class="btn-u">创建api接口</a></p>
    </div>
<?php } ?>