<?php if($data['api_list']){ ?>
<div class="col-md-9" style="padding-left: 289px;padding-right:15px;width: 100%;">
    <div id="paramInfo" class="headline">
        <h2></h2>
        <code><a class="api-copy" href="javascript:void(0);" onclick="goToApi()">查看文档</a></code>
        <code><a class="http_send" href="javascript:void(0);" onclick="delReq()">删除</a></code>
    </div>
    <p class="api_url">
        <span class="label label-primary"></span> 
        <em></em>
        <i id="l_upload" class="fa fa-spinner fa-spin hide"></i>
    </p>
    <?php echo $this->getTestHtml(3);?>
    <form id="httpform" action="/app/http/run" method="POST">
        <input type="hidden" name="api_id" value="" />
        <input type="hidden" name="url" value="" />
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="user_http_id" value="" />
        <input type="hidden" name="env" value="dev" />
        <table class="table hidden-xs" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="text-center console-index td-bottom" style="width: 100px;">参数名</th>
                    <th class="text-center console-index td-bottom" style="width: 100px;">参数值</th>
                    <th class="text-center console-index td-bottom text-left">描述</th>
                </tr>
            </thead>
            <tbody id="api_params"></tbody>
        </table>
        <button id="httprun" type="button" class="btn-u" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">请求</button> 
        <button id="httpsave" type="button" class="btn-u" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">保存</button> 
        <p></p>
        <code><a href="javascript:void(0);" onclick="enterFullscreen()">全屏</a></code>
        <code><a href="javascript:void(0);" onclick="saveExample()">保存为事例代码</a></code>
        <code id="fixed"><a href="javascript:void(0);" onclick="disableScroll()">向上固定</a></code>
        <code id="unfixed" style="display: none;"><a href="javascript:void(0);" onclick="enableScroll()">取消固定</a></code>
        <div id="result" class="result"></div>
    </form>
    <script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var current='<?php echo $data['current'];?>',full=0;
        var editor = ace.edit("result");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        editor.getSession().setTabSize(4);
        editor.getSession().setUseWrapMode(true);
        editor.setHighlightActiveLine(true);
        editor.setReadOnly(true);
        var loading=0;
        $("#httprun").click(function(){
            var that=this;
            $.ajax({
                url:$("#httpform").attr("action"),
                type:"POST",
                dataType:"text",
                data:$("#httpform").serialize(),
                beforeSend:function(){
                    if(loading) return false;
                    loading=1;
                    $(that).attr("disabled","disabled");
                },
                success:function(data){
                    try{
                        var json=JSON.parse(data);
                        var str=JSON.stringify(json,null,4);
                        editor.setValue(str);
                        editor.moveCursorTo(0, 0);
                    }catch(error){
                        editor.setValue(data);
                        // editor.gotoLine(1);
                    }
                },
                complete:function(){
                    $(that).removeAttr("disabled");
                    loading=0;
                },
                error:function(){
                  $(that).removeAttr("disabled");  
                  loading=0;
                }
            })
        })
        $("a[key]").on('click',function(){
            enableScroll();
            scrollStart();
            var user_http_id=$(this).attr("key");
            $.ajax({
                url:"/http/my/history",
                type:"GET",
                dataType:"json",
                data:{id:user_http_id},
                success:function(data){
                    $(".headline h2").html(data.api.title);
                    $(".api_url em").html(data.api.url);
                    $(".api_url .label-primary").html(data.api.type==1?'POST':'GET');
                    $("input[name=user_http_id]").val(data.id);
                    $("input[name=api_id]").val(data.api.id);
                    $("input[name=url]").val(data.api.url);
                    $("input[name=code]").val(data.api.code);
                    if(data.api.params){
                        var html="";
                        for(index in data.api.params){
                            html+='<tr>';
                            if(data.api.params[index]['must']==1){
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;"><code>*</code>'+data.api.params[index].name+'</td>';
                            }else{
                                html+='<td class="text-center console-index td-bottom" style="width: 100px;">'+data.api.params[index].name+'</td>';
                            }
                            html+='<td class="text-center td-bottom" style="width: 100px;">';
                            html+='<input type="text" name="'+data.api.params[index].name+'" value="'+data.api.params[index].value+'" />';
                            html+='</td>';
                            html+='<td class="text-center td-bottom text-left">'+data.api.params[index].remark+'</td>';
                            html+='</tr>';
                        }
                        $("#api_params").html(html);
                        editor.setValue(data.api_return);
                        editor.moveCursorTo(0, 0);
                    }
                }
            })
        })
        $(".env a").on('click',function(){
            $(".env a").not(this).removeClass("cur");
            $(this).addClass("cur");
            $("input[name=env]").val($(this).data("env"));
        })
        function enterFullscreen(){
            var editor=document.getElementById('result');
            // W3C
            if (editor.requestFullscreen) {
                editor.requestFullscreen();
            }
            // FireFox  
            else if (editor.mozRequestFullScreen) {
                editor.mozRequestFullScreen();
            }
            // Chrome等  
            else if (editor.webkitRequestFullScreen) {
                editor.webkitRequestFullScreen();
            }
            // IE11
            else if (editor.msRequestFullscreen) {
                editor.msRequestFullscreen();
            }
        }
        // w3c
        document.onfullscreenchange = function ( event ) { 
            if(document.fullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'660px',width:'95%'});
            }
        };
        // chrome
        document.onwebkitfullscreenchange=function(event){
            if(document.webkitIsFullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'660px',width:'95%'});
            }
        }
        // FireFox
        document.onmozfullscreenchange=function(event){
            if(document.mozFullScreen){
                $("#result").css({height:'100%',width:'100%'});
            }else{
                $("#result").css({height:'660px',width:'95%'});
            }
        }
        function preventWhell(event){
            event.preventDefault(0);
        }
        function preventArrow(event){
            if(event.key == "ArrowDown" || event.key == "ArrowUp"){
                event.preventDefault();
            }
        }
        function disableScroll(){
            window.addEventListener("wheel",preventWhell);
            window.addEventListener("keydown",preventArrow);
            window.scrollTo(0,document.body.offsetHeight-document.getElementById("result").offsetHeight-20);
            $("#unfixed").show();
            $("#fixed").hide();
        }
        function enableScroll(){
            window.removeEventListener("wheel",preventWhell);
            window.removeEventListener("keydown",preventArrow);
            $("#unfixed").hide();
            $("#fixed").show();
        }
        function scrollStart(){
            window.scrollTo(0,0);
        }
        function saveExample(){
            var api_id=$('input:hidden[name=api_id]').val();
            if(!api_id){
                alert("未指定接口");
                return false;
            }
            var code=editor.getValue();
            if(!code){
                alert("example为空");
                return false;
            }
            vk.post("/api/example/save",{api_id:api_id,code:code})
        }
        function goToApi(){
            var code=$("input[name=code]").val();
            document.location.href="/api#"+code;
        }
        function delReq(){
            var user_http_id=$("input[name=user_http_id]").val();
            if(window.confirm("确定是否要删除吗?")){
                vk.post("/http/my/del",{id:user_http_id},null,function(){
                    document.location.href="/http/my";
                })
            }
        }
        $(function(){
            if(!current && document.location.hash){
                current=document.location.hash.substr(1);
            }
            if(current){
                $("a[key="+current+"]").trigger("click");
            }
        })
    </script>
</div>
<?php }else{ ?>
    <div class="text-center" style="margin-top: 50px;font-size: 14px;font-weight: 600;">
        <p>目前还没有保存请求</p>
        <code><a class="http_send" href="/app/http">发起请求->保存按钮</a></code>
    </div>
<?php }?>
<div id="http_save_modal" style="display: none">
    <form id="http_form" method="post" class="form-horizontal" novalidate="novalidate">
        <table class="table no-border">
            <tr>
                <td widtd="110">标题</td>
                <td width="270">
                    <input style="width: 100%" type="text" name="title" value="" />
                </td>
            </tr>
            <tr>
                <td widtd="110">类别</td>
                <td width="270">
                    <select name="cat_id" id="">
                        <option value="">--请选择类别--</option>
                        <?php foreach($data['cats'] as $cat){?>
                            <option value="<?php echo $cat['id'];?>" name="cat_id"><?php echo $cat['name'];?></option>
                        <?php }?>
                    </select>
                </td>
            </tr>
            <tr>
                <td widtd="110">是否公开</td>
                <td>
                    <input type="checkbox" name="is_public" value="1" checked />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button type="button" class="btn-u" onclick="httpSave()" style="height:26px;padding:5px 8px;font-size:12px;width:48px;">保存</button> 
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $("#httpsave").on('click',function(){
        var user_http_id=$("input[name=user_http_id]").val();
        var api_params=$("#api_params input").serialize();
        var api_return=editor.getValue();
        vk.post("/http/save",{user_http_id:user_http_id,api_params:api_params,api_return:api_return},null,function(){
            
        })
    })
</script>