</div>
</div>
<div id="cat_modal" class="cat-modal" style="display: none">
    <form style="width: 300px;height: 100px;" method="post" class="form-horizontal" novalidate="novalidate">
        <div class="text-center">
            <font class="must-required">*</font>名称</label>
            <input type="text" name="name" value="" />
            <input type="hidden" name="id" value="" />
        </div>
        <br>
        <div class="text-center">
            <button id="catBtnSave" class="btn btn-primary submit" type="button">提交</button>
        </div>
    </form>
</div>
</body>
</html>