<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>看法APP - API文档</title>
    <meta name="keywords" content="">
    <meta name="description" content="看法APP内部API文档">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no minimal-ui">
    <link rel="stylesheet" href="/static/css/main.min.css">
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>
    <header style="position: fixed;top: 0;height: 40px;z-index: 99;width: 100%">
        <!--=== navbar start ===-->
        <div class="container header-navbar navbar navbar-default" role="navigation" style="">
            <!-- pc header start -->
            <div class="container container-menu pc-header hidden-xs hidden-sm col-lg-12 col-md-8">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="margin-left:20px;margin-right: 20px;">
                    <a href="/">
                        <img id="logo-header" class="img-logo" src="https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170809/adminuser_150225954278251.png?x-oss-process=image/resize,m_fill,w_120,h_120" alt="Logo" width="36" height="36" />
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse in">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="<?php echo $data['tab_selected']=='app'?'active':'';?>"><a href="/api/app">APP接口文档</a></li>
                        <li class="<?php echo $data['tab_selected']=='http'?'active':'';?>"><a href="/api/http#channel_getlist">发起请求</a></li>
                        <li class="<?php echo $data['tab_selected']=='doc'?'active':'';?>"><a href="/doc/develop#develop">开发文档</a></li>
                        <li></li>
                        <li></li>
                        <li>
                            <!-- <code><a class="api-edit" href="/api/cat" target="_blank">编辑</a></code> -->
                            <button type="button" style="margin-top: 5px;padding: 3px 10px;" class="btn-u" style="">编辑类别</button> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- m-header end-->
        <!--=== navbar end ===-->
    </header>
    <!--=== Content Part ===-->
    <div class="container content" style="position: relative;top: 65px;">
        <div class="row">
            <!-- Begin Sidebar Menu -->
            <?php if($data['api_list']){ ?>
            <div class="" style="position: fixed;z-index: 99;width: auto;max-width: 280px;">
                <ul class="doc-nav list-group sidebar-nav-v1" id="sidebar-nav">
                    <?php foreach($data['api_list'] as $parent=>$list){ ?>
                        <li id="sdknode-api" class="list-group-item list-toggle sidebar-submenu">
                            <a data-toggle="collapse" href="javascript:void(0);"><?php echo $parent; ?></a>
                            <ul id="collapse-api" class="collapse">
                                <?php foreach($list as $key=>$v){ ?>
                                    <li>
                                        <a key="<?php echo $v['code'];?>" href="<?php echo $v['side_url'];?>">
                                            <i class="fa fa-file-text-o"></i>
                                            <?php echo $v['title']; ?>
                                        </a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </li>
                    <?php } ?>
                </ul>
            </div>
            <!-- End Sidebar Menu -->
            <script type="text/javascript">
                var key="<?php echo $data['current'];?>";
                var hash=document.location.hash;
                if(hash && $(hash)){
                    key=hash.substr(1);
                }
                if(key){
                    var cls="a[key='"+key+"']";
                    $(cls).parents('ul').show();
                    $(cls).addClass('active');
                }
                $("a[data-toggle]").click(function(){
                    var menu=$(this).parent('li');
                    var submenu=$(this).siblings('.collapse');
                    var display=submenu.css('display');
                    if(display=='none'){
                        $(".collapse").hide();
                        menu.addClass('active');
                        submenu.show();
                    }else{
                        menu.removeClass('active');
                        submenu.hide();
                    } 
                })
                $("a[key]").click(function(){
                    var menu=$(this).parents('ul').parents('li');
                    $(".sidebar-submenu").removeClass('active');
                    menu.addClass('active');
                    $(".sidebar-submenu ul li a.active").removeClass("active");
                    $(this).addClass("active");
                })
            </script>
            <?php } ?>