<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>看法APP - <?php echo $data['title'];?></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no minimal-ui">
    <?php foreach($data['css'] as $css){ ?>
        <link rel="stylesheet" href="<?php echo $css; ?>">    
    <?php }?>
    <?php foreach($data['js'] as $js){ ?>
        <script src="<?php echo $js; ?>"></script>
    <?php }?>
</head>

<body>
    <?php if($data['show_header']){ ?>
        <header style="position: fixed;top: 0;height: 40px;z-index: 99;width: 100%">
            <!--=== navbar start ===-->
            <div class="container header-navbar navbar navbar-default" role="navigation" style="">
                <!-- pc header start -->
                <div class="container container-menu pc-header hidden-xs hidden-sm">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" style="margin-left:20px;margin-right: 20px;">
                        <a href="/">
                            <img id="logo-header" class="img-logo" src="https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170809/adminuser_150225954278251.png?x-oss-process=image/resize,m_fill,w_120,h_120" alt="Logo" width="36" height="36" />
                        </a>
                    </div>
                    <?php if($data['navbar']){ ?>
                        <div class="collapse navbar-collapse navbar-responsive-collapse in">
                            <?php if($data['navbar']['left']){ ?>
                                <ul class="nav navbar-nav navbar-left">
                                    <?php foreach($data['navbar']['left'] as $bar){ ?>
                                        <li class="menu-parent <?php echo $bar['selected']?>">
                                            <?php if($bar['children']){?>
                                                <a href="javascript:;"><?php echo $bar['name'];?></a>
                                                <ul class="dropdown-menu text-left" style="padding:5px;margin-left: -30px;">
                                                <?php foreach($bar['children'] as $child){ ?>
                                                    <li class="menu-title font-16">
                                                        <a href="/account/info" style="border-bottom:none"><?php echo $child['name'];?></a>
                                                    </li>
                                                <?php }?>
                                                </ul>
                                            <?php }else{ ?>
                                                <a href="<?php echo $bar['url'];?>"><?php echo $bar['name'];?></a>
                                            <?php }?>
                                        </li>
                                    <?php } ?>
                                    <li>
                                    <?php foreach($data['actions'] as $action){?>
                                        <button onclick="<?php echo $action['click'];?>" data-url="<?php echo $action['url'];?>" class="btn-u" style="font-size:12px;margin: 5px;padding: 5px;"><?php echo $action['name']?></button>
                                    <?php } ?>
                                    </li>
                                </ul>
                            <?php }?>
                            <?php if($data['navbar']['right']){ ?>
                                <ul class="nav navbar-nav navbar-right" style="margin-right: 100px;">
                                    <?php foreach($data['navbar']['right'] as $bar){ ?>
                                        <li class="<?php echo $bar['selected']?> menu-parent">
                                            <?php if($bar['children']){?>
                                                <a href="javascript:;"><?php echo $bar['name'];?></a>
                                                <ul class="dropdown-menu text-left">
                                                <?php foreach($bar['children'] as $child){ ?>
                                                    <li class="menu-title font-16" style="text-align: left;">
                                                        <a href="<?php echo $child['url'];?>" style="border-bottom:none"><?php echo $child['name'];?></a>
                                                    </li>
                                                <?php }?>
                                                </ul>
                                            <?php }else{ ?>
                                                <a href="<?php echo $bar['url'];?>"><?php echo $bar['name'];?></a>
                                            <?php }?>
                                        </li>
                                    <?php } ?>
                                </ul>
                            <?php }?>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <!-- m-header end-->
            <!--=== navbar end ===-->
        </header>
        <script type="text/javascript">
            function redirectPage(that){
                document.location.href=$(that).data("url");
            }
        </script>
        <!--=== Content Part ===-->
        <div class="container content" style="position: relative;top: 52px;">
            <div class="row">
                <!-- Begin Sidebar Menu -->
                <?php if($data['api_list']){ ?>
                <div class="" style="position: fixed;z-index: 99;width: auto;max-width: 280px;">
                    <?php if(!empty($data['title'])){ ?>
                        <h5 style="margin-left: 10px;"><?php echo $data['title'];?></h5>
                    <?php } ?>
                    <ul class="doc-nav list-group sidebar-nav-v1" id="sidebar-nav">
                        <?php foreach($data['api_list'] as $parent=>$list){ ?>
                            <li id="sdknode-api" class="list-group-item list-toggle sidebar-submenu">
                                <a data-toggle="collapse" href="javascript:void(0);"><?php echo $parent; ?></a>
                                <ul id="collapse-api" class="collapse">
                                    <?php foreach($list as $key=>$v){ ?>
                                        <li>
                                            <a key="<?php echo $v['code'];?>" data-id="<?php echo $v['id'];?>" href="<?php echo $v['side_url'];?>">
                                                <i class="fa fa-file-text-o"></i>
                                                <?php echo $v['title']; ?>
                                            </a>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
                <!-- End Sidebar Menu -->
                <script type="text/javascript">
                    var key="<?php echo $data['current'];?>";
                    var hash=document.location.hash;
                    if(hash && $(hash)){
                        key=hash.substr(1);
                    }
                    if(key){
                        var cls="a[key='"+key+"']";
                        $(cls).parents('ul').show();
                        $(cls).addClass('active');
                    }
                    $("a[data-toggle]").click(function(){
                        var menu=$(this).parent('li');
                        var submenu=$(this).siblings('.collapse');
                        var display=submenu.css('display');
                        if(display=='none'){
                            $(".collapse").hide();
                            menu.addClass('active');
                            submenu.show();
                        }else{
                            menu.removeClass('active');
                            submenu.hide();
                        } 
                    })
                    $("a[key]").click(function(){
                        var menu=$(this).parents('ul').parents('li');
                        $(".sidebar-submenu").removeClass('active');
                        menu.addClass('active');
                        $(".sidebar-submenu ul li a.active").removeClass("active");
                        $(this).addClass("active");
                    })
                </script>
                <?php } ?>
                <script type="text/javascript">
                    $(".menu-parent").on('mouseover',function(){
                        $(this).children('.dropdown-menu').show();
                    }).on('mouseout',function(){
                        $(this).children('.dropdown-menu').hide();
                    });
                    $(".menu-parent .dropdown-menu").on('mouseover',function(){
                        $(this).show();
                    }).on('mouseout',function(){
                        $(this).hide();
                    })
                </script>

    <?php }else{ ?>
        <div class="container content" style="position: relative;">
            <div class="row">
    <?php } ?>