<div class="col-md-6 col-md-offset-3 login col-md-offset-3 col-sm-8 col-sm-offset-2 login-outer-div">
    <div class="login-inner-div">
        <form class="login reg-page sky-form" id="form" method="POST" novalidate="novalidate" autocomplete="off">
            <!-- 扫码登录 -->
            <!-- 登录DIV -->
            <div id="ldLogin" class="ldLogin " style="display: block;">
                <div class="reg-header" style="border-bottom: none">
                    <h2 class="color-333 font-20">新用户注册</h2>
                </div>
                <!-- 邮箱登录 -->
                <div id="loginByEmail">
                    <section class="mb-30">
                        <label class="input" style="margin-bottom: 0px;">
                            <input type="text" id="email" name="email" value="" autocomplete="off" placeholder="请输入邮箱地址" />
                        </label>
                        <em for="nick" class="invalid"></em>
                    </section>
                    <section class="mb-30 email-check hide">
                        <label class="input" style="margin-bottom: 10px;">
                            <input type="text" id="code" name="code" autocomplete="off" placeholder="验证码" style="display: inline-block;width:100px;" />
                            <button class="btn btn-u pb-10 pt-10" type="button" onclick="send()" style="display: inline-block;width: 100px;float: right;">发送</button>
                        </label>
                        <em for="nick" class="invalid"></em>
                    </section>
                    <section class="mb-30">
                        <label class="input" style="margin-bottom: 0px;">
                            <input type="text" id="nick" name="nick" value="" autocomplete="off" placeholder="请输入用户名" />
                        </label>
                        <em for="nick" class="invalid"></em>
                    </section>
                    <section class="mb-30">
                        <label class="input">
                            <input type="password" id="password" name="pwd" placeholder="请输入密码">
                        </label>
                    </section>
                </div>
                <!-- 邮箱登录End -->
            </div>
            <!-- 登录DIV -->
            <div class="row">
                <div class="col-md-12 col-xs-12 text-center mb-20">
                    <input type="hidden" name="aKey" value="">
                    <input type="hidden" name="ltlKey" value="">
                    <button class="btn btn-u pb-10 pt-10" type="button" onclick="register()" id="submitButton">注册</button>
                    <p class="font-14 color-a0a0a1 lh-12 text-center" style="margin-top:15px">
                        <a href="/user/login" class="color-green">登录</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var email_reg=/[^@]+@\w+\.\w+/;
    $("#email").on('blur',function(){
        var email=$(this).val();
        if(email_reg.test(email)){
            $(".email-check").removeClass("hide");
        }
    });
    function send(){
        var email=vk.val("email");
        if(email_reg.test(email)){
            vk.post("/user/register/email",{email:email},null,function(){

            })
        }else{
            vk.notice("邮箱地址格式不对");
        }
    }
    function register(){
        var email=$("input[name=email]").val();
        var code=$("input[name=code]").val();
        var nick=$("input[name=nick]").val();
        var password=$("input[name=pwd]").val();
        if(vk.check_empty(email,"邮箱不能为空")) return false;
        else if(!email_reg.test(email)){
            vk.notice("邮箱地址格式不对");
            return false;  
        } 
        if(vk.check_empty(code,"验证码不能为空")) return false;
        if(code.length!=6){
            vk.notice("验证码为六位数");
            return false;
        }
        if(vk.check_empty(nick,"用户名不能为空")) return false;
        if(vk.check_empty(password,"密码不能为空")) return false;
        else if(password.length<6){
            vk.notice("密码长度不能少于6位");
        }
        vk.post("/user/register/do",{nick:nick,email:email,code:code,pwd:password},null,function(){
            
        })
    }
</script>