<div class="upload-container">
    <a href="javascript:void(0);" class="button">上传</a>
</div>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="color-line"></div>
        <div class="modal-header text-center">
            <span>
                    购买                    </span>
        </div>
        <div class="modal-body text-center">
            <h4>
                    是否完成了购买？                    </h4>
            <p class="mt-30">
                请在新打开的页面中完成购买，购买完成后，请根据购买结果点击下面的按钮 </p>
        </div>
        <div class="modal-footer">
            <a href="/account/plan" type="button" id="success-btn" class="btn-u">支付成功</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">支付遇到问题</button>
        </div>
    </div>
</div>
