{
  "data": {
    "cid": "32926",
    "pushurl": "rtmp://video-center.alivecdn.com/kanfaApp/8kf32926?vhost=itsvk.itsvk.com&auth_key=1504092515-0-0-0d0b66f531a36bc22db938b26f326e63",
    "share": {
      "title": "8.30直播测试--我不！",
      "content": "8.30直播测试--我不！",
      "share_image": "http://kanfanews.com/assets/web/2017-5-8/img/defaultlogo.png",
      "share_url": "http://www.kanfanews.com/web/broadcast/index?cid=32926"
    }
  },
  "api_version": ".",
  "error_code": 0,
  "error_msg": ""
}