{
  "focus": [],
  "data": [
    {
      "is_adv": 0,
      "id": 32499,
      "cate": 1,
      "type": 9,
      "title": "20170811星期五之直播",
      "desc": "终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了终于可以走出来了",
      "source": "",
      "views": "691",
      "create_uid": "127",
      "share_url": "http://www.kanfanews.com/web/broadcast/index?cid=32499",
      "share_img": "http://www.kanfanews.com/assets/img/AppIcon@2x.png",
      "url": "#",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170811/broadcast_150244473386511.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "回顾",
          "font_color": "#5893cc",
          "border_color": "#5893cc"
        }
      ],
      "duration": "58:41",
      "image_num": 0,
      "broad_status": 3,
      "start_time": "08月08日 11:30",
      "comments": "0",
      "pub_time": "2周前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "",
      "show_comment": 0,
      "show_view": 0,
      "author": "",
      "partner_num": "666",
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 19131,
      "cate": 1,
      "type": 9,
      "title": "动动手，亲眼见证自己点的外卖怎么出锅",
      "desc": "动动手，亲眼见证自己点的外卖怎么出锅",
      "source": "",
      "views": "28",
      "create_uid": "92",
      "share_url": "http://www.kanfanews.com/web/broadcast/index?cid=19131",
      "share_img": "http://www.kanfanews.com/assets/img/AppIcon@2x.png",
      "url": "#",
      "image": "http://www.kanfanews.com/uploadfiles/thumbnail/0/15005214536602.jpg",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "回顾",
          "font_color": "#5893cc",
          "border_color": "#5893cc"
        }
      ],
      "duration": "47:4",
      "image_num": 0,
      "broad_status": 3,
      "start_time": "07月20日 11:27",
      "comments": "0",
      "pub_time": "5天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "",
      "show_comment": 0,
      "show_view": 0,
      "author": "",
      "partner_num": "",
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 18152,
      "cate": 1,
      "type": 9,
      "title": "坐高铁 定外卖 实测稳不稳",
      "desc": "坐高铁 定外卖 实测稳不稳",
      "source": "",
      "views": "47",
      "create_uid": "74",
      "share_url": "http://www.kanfanews.com/web/broadcast/index?cid=18152",
      "share_img": "http://www.kanfanews.com/assets/img/AppIcon@2x.png",
      "url": "#",
      "image": "http://www.kanfanews.com/uploadfiles/thumbnail/0/15003706715389.jpg",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "回顾",
          "font_color": "#5893cc",
          "border_color": "#5893cc"
        }
      ],
      "duration": "06:31",
      "image_num": 0,
      "broad_status": 3,
      "start_time": "07月18日 17:33",
      "comments": "1",
      "pub_time": "1月前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "",
      "show_comment": 0,
      "show_view": 0,
      "author": "",
      "partner_num": "",
      "is_liked": 0,
      "splited": 1
    }
  ],
  "api_version": ".",
  "error_code": 0,
  "error_msg": ""
}