.login-nav .navbar-nav>.active>a, .login-nav .navbar-nav>.active>a:hover, .login-nav .navbar-nav>.active>a:focus,
.register-nav .navbar-nav>.active>a, .register-nav .navbar-nav>.active>a:hover, .register-nav .navbar-nav>.active>a:focus {
    background: none !important;
}
.login-nav li a,
.register-nav li a{
    border-bottom: 1px solid #ebebeb;
}
p.invalid, em.invalid {color: #ee9393;font-style: normal;font-size:13px !important;}
ul.login-ul>li.active>a:hover,
ul.register-ul>li.active>a:hover{
    border-bottom: 2px solid #1abc9c !important;
}
ul.register-ul,
ul.login-ul {
width: 100%;margin-left:0px;padding-left:0px;padding-right:0px
}
ul.login-ul>li>a:hover,
ul.register-ul>li>a:hover{
    border-bottom: 1px solid #ebebeb !important;
}
div.content div.login-inner-div {
    /* padding-left: 6%; */
    /* padding-right: 6%; */
    position: relative;
    border: 1px solid #e7ebed;
}
div.content div.login-outer-div {
    width: 460px;
    left: 50%;
    margin-left: -230px;
    position: relative;
}
#form.sky-form {
    border: none;
}
#form.sky-form input,
div#personal-certificate input,
#embed-captcha div.geetest_radar_btn{
    border: 1px solid #e7ebed;
    border-radius: 4px;
    background-color: #f8f8f8;
}
#form.sky-form button#submitButton{
    width: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}
div.third-part-login {
    background-color: #f8f9f9;
    border: 1px solid #e7ebed;
    border-top: none;
}
div.third-part-login img.third-img{
}
form.login section.phonenumber input[name='tel'],
div#personal-certificate input[name='tel'],
div.register-content section.phonenumber input[name='tel'] {
    border-left: none !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
div#embed-captcha div.geetest_holder {
    width: 99.9% !important;
    min-width: 99.9%;
}
div.register-content #form {
    border: 1px solid #e7ebed;
    padding: 10%;
}
.reg-header {
    border-bottom: none;
    margin-bottom: 20px;
}
/*CSS伪类用法*/
p.login-third-part:after, p.login-third-part:before {
    background: #e7e6e7;
    content: "";
    height: 1px;
    position: absolute;
    width: 11%;
    top: 7px;
}

/*调整背景横线的左右距离*/
p.login-third-part:before {
    left: 13%;
}

p.login-third-part:after {
    right: 13%;
}
.breadcrumbs {
    border-bottom: none;
    background: none;
}
div.register-content form.reg-page input,
div.register-content form.reg-page .btn,
div#personal-certificate input,
div#personal-certificate .btn,
div.login-inner-div form.reg-page input,
div.login-inner-div form.reg-page .btn{
    height: 40px;
}
div#personal-certificate label {
    width: 100%;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #878f92 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #878f92 !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #878f92 !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #878f92 !important;
}
div.third-part-login img.third-img {
    cursor: pointer;
}
.checkbox input[name='termofservice'] + i:after {
    top: 1px;
    left: -1px;
}
.sky-form .checkbox input[name='termofservice'] + i {
    width: 15px;
    height: 15px;
}
a#getCode,
div.register-content form.reg-page button#submitButton, 
div.login.reg-page section.section-getCode a.btn,
div.ldLogin button#submitButton {
    border: none;
}
a.geetest_logo, a.geetest_success_logo, a.geetest_copyright {
    display: none;
}
dt, label {
            font-weight: 700;
        }
        a{
            text-decoration: none;
        }
       
        .col-sm-offset-2 {
            margin-left: 16.66666%;
        }
        .col-sm-8 {
            width: 50.66%;
        }
        .container {
            /*width: 750px;*/
        }
        .text-center{
            text-align: center;
        }
        .content {
            /*margin-top: 100px;*/
            padding-top: 40px;
            /*padding-bottom: 40px;*/
        }

        .container, .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
        .container, .container-fluid {
            margin-right: auto;
            margin-left: auto;
        }
        div.content div.login-inner-div {
            position: relative;
            border: 1px solid #e7ebed;
        }
        .sky-form {
            margin: 0;
            outline: none;
            box-shadow: 0 0 20px rgba(0,0,0,.3);
            font: 13px/1.55 NotoSansHans-Regular, AvenirNext-Regular, "proxima-nova", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Open Sans", "Helvetica Neue", Arial, sans-serif;
            color: #666;
        }
            #form.sky-form {
            border: none;
        }
        .sky-form {
            box-shadow: none;
            border: 1px solid #eee;
        }
        .reg-page {
            color: #555;
            padding: 30px;
            background: #fefefe;
            border: solid 1px #eee;
            box-shadow: 0 0 3px #eee;
        }
        .reg-header {
            color: #555;
            text-align: center;
            margin-bottom: 35px;
            border-bottom: solid 1px #eee;
        }
        .reg-header {
            border-bottom: none;
            margin-bottom: 20px;
        }
        .reg-header h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        .color-333 {
            color: #333!important;
        }
        .font-20 {
            font-size: 20px!important;
        }
        .mb-30 {
            margin-bottom: 30px!important;
        }
        .sky-form section {
            margin-bottom: 20px;
        }
        .reg-page label {
            color: #777;
        }

        label {
            display: inline-block;
            margin-bottom: 5px;
        }
        .sky-form .input, .sky-form .select, .sky-form .textarea, .sky-form .radio, .sky-form .checkbox, .sky-form .toggle, .sky-form .button {
            position: relative;
            display: block;
        }
        p.invalid, em.invalid {
            color: #ee9393;
            font-style: normal;
            font-size: 13px !important;
        }
        #form.sky-form input, #embed-captcha div.geetest_radar_btn {
            border: 1px solid #e7ebed;
            border-radius: 4px;
            background-color: #f8f8f8;
        }
        div.register-content form.reg-page input, div.register-content form.reg-page .btn, div.login-inner-div form.reg-page input, div.login-inner-div form.reg-page .btn {
            height: 40px;
        }
        .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
            border-color: #bbb;
        }
        .sky-form .input input {
            height: 34px;
            padding: 6px 12px;
        }
        button, input, select, textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
        #loginTelModal .sky-form .inout input[placeholder], [placeholder] {
            color: #666!important;
        }
        .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
            border-color: #e5e5e5;
            -ms-transition: border-color 0.3s;
            -moz-transition: border-color 0.3s;
            -webkit-transition: border-color 0.3s;
        }
        .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            height: 39px;
            padding: 8px 10px;
            outline: none;
            border-width: 2px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
            color: #404040;
            appearance: normal;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        #form.sky-form button#submitButton {
            width: 100%;
        }
        a#getCode, div.register-content form.reg-page button#submitButton, div.login.reg-page section.section-getCode a.btn, div.ldLogin button#submitButton {
            border: none;
        }
        div.register-content form.reg-page input, div.register-content form.reg-page .btn, div.login-inner-div form.reg-page input, div.login-inner-div form.reg-page .btn {
            height: 40px;
        }

        .pb-10 {
            padding-bottom: 10px!important;
        }

        .pt-10 {
            padding-top: 10px!important;
        }

        .btn-u {
            background: #1abc9c;
        }
        .btn-u {
            border: 1px solid #1ABC9C;
            color: #fff;
            cursor: pointer;
            padding: 4px 13px;
            position: relative;
        }
        .btn {
            box-shadow: none;
        }
        .btn-u, .list-toggle:after {
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
        }
        .btn-u, .btn-u:hover, .link-bg-icon:hover, .link-icon:hover, .recent-work a:hover, .servive-block h2 a:hover, .sidebar-nav-v1 li a:hover, .topbar ul.lenguages li a:hover, .topbar-v1 .top-v1-data li a:hover {
            text-decoration: none;
        }
        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset;
            -webkit-text-fill-color: #333;
            background-color: #f8f8f8;
        }