<div class="col-md-9" style="padding-left: 20px;padding-right:15px;width: 100%;">
    <form id="app_form">
        <h4>应用信息</h4>
        <table class="table table-bordered table-striped">
            <tbody id="base_body"></tbody>
        </table>
        <h4>测试环境</h4>
        <table id="test_env_table" class="table table-bordered table-striped">
            <thead>
                <tr class="warning">
                    <th width="30"></th>
                    <th>测试环境名称</th>
                    <th>域名</th>
                    <th style="width: 82px;" class="text-center">设成默认</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <button type="button" onclick="addAppTestEnv()" class="btn-u btn-g" style="height:22px;padding:5px;font-size:12px;">添加测试环境</button> 
                    </td>
                </tr>
            </tfoot>
            <tbody id="app_body"></tbody>
        </table>
        <button type="button" class="btn-u" onclick="saveApp()" style="height:36px;font-size:16px;width:66px;margin-bottom: 20px;">创建</button> 
        &nbsp;&nbsp;&nbsp;<span class="error"></span>
    </form>
</div>
<?php $this->fetch("template/hidden.tpl");?>
<script id="api_base_template" type="text/html">
    {{each base as item name}}
        <tr>
            <td style="width: 110px;">
                <span class="td-title">{{name}}</span>
            </td>
            <td>
                <input type="text" value="{{item['value']}}" name="{{item['name']}}" class="form-control" />
            </td>
        </tr>
    {{/each}}
</script>
<script type="text/html" id="app_template">
    <tr>
        <td>
            <code><a href="javascript:void(0);" class="param-del" onclick="paramDel(this)">X</a></code>
        </td>
        <td>
            <input type="text" value="{{e['name']}}" name="test_env[{{index}}][name]" class="form-control" />
            <input type="hidden" name="test_env[{{index}}][id]" value="{{e['id']}}" />
        </td>
        <td>
            <input type="text" value="{{e['url']}}" name="test_env[{{index}}][url]" class="form-control" />
        </td>
        <td class="text-center">
            <input type="checkbox" value="1" {{if e['is_default']}}checked{{/if}} name="test_env[{{index}}][is_default]" />
        </td>
    </tr>
</script>
<script type="text/html" id="params_template">
    {{each params as param}}
        <tr>
            <td>
                <div class="td-title">{{param['name']}}</div>
            </td>
            <td>
                <input type="text" value="" name="{{param['name']}}" class="form-control" />
            </td>
        </tr>
    {{/each}}
</script>
<script src="/static/js/template-web.js"></script>
<script type="text/javascript">
    var base={"应用名称":{name:"name",value:''},"描述说明":{name:"remark",value:''}};  
    vk.parse("#app_form","hidden_template",{hidden:{is_add:1}});
    vk.parse("#base_body","api_base_template",{base:base});
    function paramDel(that){
        $(that).parents('tr').remove();
    }
    var i=0;
    function addAppTestEnv(){
        var ret_html = template("app_template", {e:{name:'',url:''},index:i});
        i++;
        $("#app_body").append(ret_html);
    }
    function saveApp(){
        var name=vk.val('name');
        var remark=$("input[name=remark]").val();
        var test_env_name=$("input[name*=test_env][name*=name]");
        var test_env_url=$("input[name*=test_env][name*=url]");
        
        if(vk.check_empty(name,"应用名称不能为空")) return false;
        test_env_name.each(function(i,item){
            if(vk.check_empty($(item).val(),"测试环境名称不能为空")) return false;
        })
        test_env_url.each(function(i,item){
            if(vk.check_empty($(item).val(),"测试环境域名不能为空")) return false;
        })
        vk.post("/account/app/save",$("#app_form").serialize(),null,function(data){
            
        });
    }
    vk.check2radio("input[type=checkbox]");
</script>