<div class="col-md-9" style="padding-right:15px;width: 100%;">
    <h5><?php echo $data['title'];?></h5>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="warning">
                <th width="150">名称</th>
                <th>备注</th>
                <th width="110" class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($data['app_list'] as $app){?>
                <tr>
                   <td><?php echo $app['name'];?></td> 
                   <td><?php echo $app['remark'];?></td> 
                   <td class="text-center">
                       <code><a class="app-edit" href="/account/app/edit/<?php echo $app['id'];?>">编辑</a></code>
                       <code><a class="app-del" onclick="delApp(this)" data-id="<?php echo $app['id'];?>">删除</a></code>
                   </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function delApp(that){
        var id=$(that).data("id");
        if(!id) vk.notice("未指定应用");
        if(window.confirm("确定要删除应用?")){
            vk.post("account/app/del",{id:id},null,function(){
                $(that).parents("tr").remove();
            })
        }
    }
</script>