{
  "filter": {
    "stat": [
      {
        "id": "-1",
        "name": "全部"
      },
      {
        "id": 1,
        "name": "正在直播"
      },
      {
        "id": 0,
        "name": "即将播出"
      },
      {
        "id": 2,
        "name": "节目回顾"
      }
    ],
    "case_type": [
      {
        "id": "-1",
        "name": "全部"
      },
      {
        "id": 1,
        "name": "刑事案件"
      },
      {
        "id": 2,
        "name": "民事案件"
      },
      {
        "id": 3,
        "name": "行政案件"
      }
    ],
    "court_level": [
      {
        "id": "-1",
        "name": "全部"
      },
      {
        "id": 1,
        "name": "最高法院"
      },
      {
        "id": 2,
        "name": "高级法院"
      },
      {
        "id": 3,
        "name": "中级法院"
      }
    ],
    "court": [
      {
        "id": "-1",
        "name": "全部"
      },
      {
        "id": "3528",
        "name": "法院名字测试"
      },
      {
        "id": "6",
        "name": "北京市第四中级人民法院"
      },
      {
        "id": "3",
        "name": "北京市第一中级人民法院"
      },
      {
        "id": "2",
        "name": "北京市高级人民法院"
      },
      {
        "id": "1",
        "name": "最高人民法院"
      }
    ]
  },
  "list": [
    {
      "id": "61576",
      "title": "案由",
      "subtitle": "海口市中级人民法院",
      "stat": "0",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 1
    },
    {
      "id": "59341",
      "title": "新增数据时间update",
      "subtitle": "平山县人民法院",
      "stat": "0",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 2,
      "jump_type": 1
    },
    {
      "id": "62544",
      "title": "李永明与念海仙离婚后财产纠纷案",
      "subtitle": "弥勒市人民法院",
      "stat": "1",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 2,
      "url": "http://player.videoincloud.com/live/603753?src=gkw&cc=1"
    },
    {
      "id": "62541",
      "title": "机动车交通事故责任纠纷",
      "subtitle": "黔西县人民法院",
      "stat": "1",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 2,
      "url": "http://player.videoincloud.com/live/603464?src=gkw&cc=1"
    },
    {
      "id": "62542",
      "title": "民间借贷",
      "subtitle": "东兰县人民法院",
      "stat": "1",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 2,
      "url": "http://player.videoincloud.com/live/603113?src=gkw&cc=1"
    },
    {
      "id": "62543",
      "title": "追偿权纠纷",
      "subtitle": "常州市金坛区人民法院",
      "stat": "1",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 2,
      "url": "http://player.videoincloud.com/live/602498?src=gkw&cc=1"
    },
    {
      "id": "61574",
      "title": "贩卖运输毒品",
      "subtitle": "红河哈尼族彝族自治州中级人民法院",
      "stat": "0",
      "during": "12:43",
      "cover_image": null,
      "live_type_id": 1,
      "jump_type": 2,
      "url": "http://player.videoincloud.com/live/600103?src=gkw&cc=1"
    }
  ],
  "api_version": ".",
  "error_code": 0,
  "error_msg": ""
}