{
  "data": {
    "live_id": "61581",
    "live_type_id": "1",
    "title": "杨庆祝、张正犯走私国家禁止进出口的货物罪一案",
    "subtitle": "",
    "views": "40",
    "live_stat": "0",
    "live_url": "http://kanfazhibo.oss-cn-shanghai.aliyuncs.com/dev/record/2017-10-16/AppName/15436kf930947/2017-10-16-14:17:40_2017-10-16-14:19:40.mp4",
    "duration": "19:43",
    "is_like": 0,
    "likes": 0,
    "flash_obj": "http://player.videoincloud.com/live/590020?src=gkw&cc=1",
    "court_name": "最高人民法院",
    "court_logo": "",
    "court_live": "357956",
    "case_info": "杨庆祝、张正犯走私国家禁止进出口的货物罪一案",
    "court_info": [
      {
        "name": "基本信息",
        "info": [
          {
            "title": "开庭时间",
            "content": "2017年10月19日下午"
          }
        ]
      },
      {
        "name": "审判组织成员",
        "info": [
          {
            "title": "开庭时间",
            "content": "2017年10月19日下午"
          },
          {
            "title": "书记员",
            "content": "武天华"
          },
          {
            "title": "审判员",
            "content": "马涛、李颖訸"
          },
          {
            "title": "审判长",
            "content": "邢亚明"
          },
          {
            "title": "组织成员",
            "content": ""
          }
        ]
      },
      {
        "name": "当事人",
        "info": [
          {
            "title": "开庭时间",
            "content": "2017年10月19日下午"
          },
          {
            "title": "书记员",
            "content": "武天华"
          },
          {
            "title": "审判员",
            "content": "马涛、李颖訸"
          },
          {
            "title": "审判长",
            "content": "邢亚明"
          },
          {
            "title": "组织成员",
            "content": ""
          },
          {
            "title": "公诉机关",
            "content": "红河州人民检察院"
          },
          {
            "title": "被告人",
            "content": "杨庆祝、张正"
          }
        ]
      }
    ],
    "share": {
      "title": "杨庆祝、张正犯走私国家禁止进出口的货物罪一案",
      "subtitle": "",
      "img": "",
      "url": "http://www.kanfanews.com/web/live/index?id=61581&share=1"
    }
  },
  "api_version": ".",
  "error_code": 0,
  "error_msg": ""
}