{
    "data": [
        {
            "title": "明天 10月21日", 
            "content": [
                {
                    "id": "63286", 
                    "title": "上诉人曾土生因诉嘉禾县公安局治安行政处罚及赔偿一案", 
                    "subtitle": "", 
                    "court_name": "郴州市中级人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/563600?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "63287", 
                    "title": "其他行政管理", 
                    "subtitle": "", 
                    "court_name": "厦门市中级人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/572053?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62776", 
                    "title": "张如水、张如亮、李加雄偷越国（边）境罪", 
                    "subtitle": "", 
                    "court_name": "腾冲市人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/587639?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "63288", 
                    "title": "闫红星诉被告管城区政府确认拆迁行为违法一案", 
                    "subtitle": "", 
                    "court_name": "郑州铁路运输中级法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/585398?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62777", 
                    "title": "被告人王慧交通肇事一案", 
                    "subtitle": "", 
                    "court_name": "长春汽车经济技术开发区人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/598002?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62781", 
                    "title": "交通肇事罪", 
                    "subtitle": "", 
                    "court_name": "梨树县人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/600698?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62782", 
                    "title": "寻衅滋事罪", 
                    "subtitle": "", 
                    "court_name": "嘉兴市南湖区人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/601843?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }
            ]
        }, 
        {
            "title": "后天 10月21日", 
            "content": [
                {
                    "id": "62778", 
                    "title": "危险驾驶", 
                    "subtitle": "", 
                    "court_name": "苏州市虎丘区人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/583859?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62779", 
                    "title": "危险驾驶", 
                    "subtitle": "", 
                    "court_name": "苏州市姑苏区人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/601862?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }, 
                {
                    "id": "62780", 
                    "title": "妨害公务罪", 
                    "subtitle": "", 
                    "court_name": "上海市静安区人民法院", 
                    "start_time": "2017-10-21 00:00:00", 
                    "cover_img": "", 
                    "flash_obj": "http://player.videoincloud.com/live/583625?src=gkw&cc=1", 
                    "stat": "0", 
                    "duration": "0", 
                    "image_type": "1", 
                    "jump_type": 2, 
                    "startTime": "00:00"
                }
            ]
        }
    ], 
    "count": 10, 
    "api_version": ".", 
    "error_code": 0, 
    "error_msg": ""
}