{
    "0": {
        "title": "今天", 
        "data": [
            {
                "id": "62720", 
                "title": "杨勋敲诈勒索罪", 
                "subtitle": "", 
                "court_name": "武汉市汉阳区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/595679?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62976", 
                "title": "旅店服务合同纠纷", 
                "subtitle": "", 
                "court_name": "广州市天河区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/585105?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "63232", 
                "title": "定金合同纠纷", 
                "subtitle": "", 
                "court_name": "杭州经济技术开发区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/601276?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62721", 
                "title": "抢夺罪", 
                "subtitle": "", 
                "court_name": "台州市路桥区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/597251?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62977", 
                "title": "著作权侵权纠纷", 
                "subtitle": "", 
                "court_name": "广州市天河区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/585133?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "63233", 
                "title": "民间借贷纠纷", 
                "subtitle": "", 
                "court_name": "犍为县人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/601587?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62722", 
                "title": "放火罪", 
                "subtitle": "", 
                "court_name": "广州市南沙区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/597664?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62978", 
                "title": "民间借贷纠纷", 
                "subtitle": "", 
                "court_name": "广州市天河区人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/588309?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "63234", 
                "title": "离婚", 
                "subtitle": "", 
                "court_name": "广河县人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/601734?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }, 
            {
                "id": "62723", 
                "title": "杨伟涉嫌犯容留他人吸毒罪一案", 
                "subtitle": "", 
                "court_name": "翼城县人民法院", 
                "start_time": "2017-10-20 17:00:00", 
                "cover_img": "", 
                "flash_obj": "http://player.videoincloud.com/live/599168?src=gkw&cc=1", 
                "stat": "0", 
                "duration": "0", 
                "image_type": "1", 
                "jump_type": 2, 
                "startTime": "3小时后开始"
            }
        ]
    }, 
    "api_version": ".", 
    "error_code": 0, 
    "error_msg": ""
}