<div class="col-md-9" style="padding-left: 20px;padding-right:15px;width: 100%;">
    <form id="api_form">
        <h3>接口关联的测试用例</h3>
        <?php foreach($data['tests'] as $test){ ?>
            <h5><?php echo $test['title'];?></h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="warning">
                        <th>测试用例</th>
                        <th width="110">操作</th>
                    </tr>
                </thead>
                <tbody id="base_body">
                    <?php foreach($test['cases'] as $case){ ?>
                        <tr class="warning">
                            <th><?php echo $case['content'];?></th>
                            <th>运行</th>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        <?php }?>
    </form>
</div>