{
  "api_version": "2.0.7",
  "data": "iVBORw0KGgoAAAANSUhEUgAAAFAAAAAiAgMAAAC1lbb0AAAACVBMVEX///+75vcpo+5HfQuwAAABxElEQVQokW1SMY7bQAwcGtwrVHEPKxcpU11+wTVWLlStDDmFy3uJFNi9L0B6+3ABAr8ys1cf1SwocoacIR5fBM5iAkVNAsD7Gmc/YFWbsgEVrkUdtZcNFvVQwTLnJ6KzxGecTc1cAVUZ5si8HVg5aGaNedA6sFTjDmdla69FiIdMShUmYQ0PKGhRHfaEZS449nOdHUValLLHH1JYioJ+YkNGQnrCWkhbgdhgYCrOOdfWFR2JO2gPTFV3TJIxIfRkGLJHcRK9ZSuCLvnj94rHvxhQuGaDK2PYLO+r3brBEZhMZLDOvuXXVW8dtQk/cfGk0buxm3ZLvncmCgqig8C7l1PZLMQEZt1yzezFxvvJtos9Lm1VzmmGmMaPkx+u8+2W4b4B/02hdi/j8H3R2w8JogdcwrFPOo7P1/cl3k/IUfc4e6qG0355/Hr8/ejUPHJOO37uCa9tYMuFG52dJjkVMooiMfNB9tDqqsWcjd5L1LTFG10J7sEFVcz6kmnxSmcTpCjNbTqHwvbmZhzIxQtxRx+zb3HlLcwTBqmJAlEIoUrXGiBeYkQKVqE8liYyZ8Fg9NE/n9Z2d4lBiVEb+NQXp/JfHe1/aj16KZNnCkQAAAAASUVORK5CYII=",
  "error_code": 0,
  "error_msg": ""
}