<div class="col-md-8 col-md-offset-2 login col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="login-inner-div certificate-div text-center" style="padding: 10% 15% 10% 15%;">
        <form id="certificationForm" method="post" novalidate="novalidate">
            <!-- 选择身份 -->
            <div class="container-fluid" style="display: -webkit-box;">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="timeline timeline-gray-span"></span>
                    <p class="mt-10 color-a0a0a1">选择身份</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="timeline span-center timeline-gray-span"></span>
                    <p class="mt-10 color-a0a0a1">填写资料</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="timeline timeline-green-span">3</span>
                    <p class="mt-10 color-a0a0a1">完成认证</p>
                </div>
            </div>
            <div style="margin-top: 40px;font-size: 14px" class="text-center">
                <p><?php echo $data['cert_text'];?></p>
            </div>
        </form>
    </div>
</div>
