{
    "data": {
        "title": "测试用", 
        "video_data": [
            {
                "id": "863", 
                "title": "法制晚报健康大讲堂：“当痛经遇上高考”", 
                "create_time": "2017-06-13 11:29:13", 
                "comments": "0", 
                "con_img": "http://www.kanfanews.com//uploadfiles/thumbnail/0/14973235217003.jpg", 
                "image": null, 
                "url": "https://v.qq.com/x/page/k0512cfo4ju.html", 
                "duration": "5:20", 
                "user_id": "56", 
                "nickname": "徐波", 
                "user_img": "http://www.kanfanews.com/uploadfiles/thumbnail/0/14988782763575.jpg", 
                "source_image": "http://xinmem.com/dev/app/uploadfiles/thumbnail/0/14489107414334.jpg", 
                "source_name": "法制天地",
                "is_liked": 1
            }, 
            {
                "id": "904", 
                "title": "法制晚报特邀中医专家朱洪海，解析三叉神经痛的治疗", 
                "create_time": "2017-06-13 14:46:41", 
                "comments": "0", 
                "con_img": "", 
                "image": "", 
                "url": "https://v.qq.com/x/page/p05031v8o5o.html", 
                "duration": "02:45", 
                "user_id": "56", 
                "nickname": "徐波", 
                "user_img": "http://www.kanfanews.com/uploadfiles/thumbnail/0/14988782763575.jpg", 
                "source_image": null, 
                "source_name": null,
                "is_liked": 1
            }, 
            {
                "id": "907", 
                "title": "法制晚报特邀中医专家朱洪海，介绍治疗三叉神经痛的偏方", 
                "create_time": "2017-06-13 14:49:07", 
                "comments": "0", 
                "con_img": "", 
                "image": "", 
                "url": "https://v.qq.com/x/page/j05038zezbj.html", 
                "duration": "02:36", 
                "user_id": "56", 
                "nickname": "徐波", 
                "user_img": "http://www.kanfanews.com/uploadfiles/thumbnail/0/14988782763575.jpg", 
                "source_image": null, 
                "source_name": null,
                "is_liked": 0
            }, 
            {
                "id": "906", 
                "title": "法制晚报特邀中医专家朱洪海，介绍治疗三叉神经痛的偏方", 
                "create_time": "2017-06-13 14:48:19", 
                "comments": "0", 
                "con_img": "", 
                "image": "", 
                "url": "https://v.qq.com/x/page/f0503nt59c5.html", 
                "duration": "02:41", 
                "user_id": "56", 
                "nickname": "徐波", 
                "user_img": "http://www.kanfanews.com/uploadfiles/thumbnail/0/14988782763575.jpg", 
                "source_image": null, 
                "source_name": null,
                "is_liked": 0
            }, 
            {
                "id": "905", 
                "title": "法制晚报特邀中医专家朱洪海，介绍中医治三叉神经痛优势", 
                "create_time": "2017-06-13 14:47:24", 
                "comments": "0", 
                "con_img": "", 
                "image": "", 
                "url": "https://v.qq.com/x/page/w0503po9f27.html", 
                "duration": "03:11", 
                "user_id": "56", 
                "nickname": "徐波", 
                "user_img": "http://www.kanfanews.com/uploadfiles/thumbnail/0/14988782763575.jpg", 
                "source_image": null, 
                "source_name": null,
                "is_liked": 0
            }
        ]
    }, 
    "api_version": ".", 
    "error_code": 0, 
    "error_msg": ""
}