{
  "focus": [],
  "video_album": [
    {
      "id": "3",
      "title": "asdasd",
      "cover_img": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20171026/Videoalbum_150900413545495.png?x-oss-process=image/resize,m_fill,w_748,h_400"
    },
    {
      "id": "1",
      "title": "测试用",
      "cover_img": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20171026/Videoalbum_150900425651949.jpg?x-oss-process=image/resize,m_fill,w_748,h_400"
    }
  ],
  "data": [
    {
      "is_adv": 0,
      "id": 911480,
      "cate": 2,
      "type": 4,
      "title": "中秋将至，小心买到微商代购假月饼！",
      "desc": "",
      "source": "",
      "views": "598",
      "create_uid": "87",
      "share_url": "http://www.kanfanews.com/web/video/index/911480/2?share=1",
      "share_img": "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png",
      "url": "http://www.kanfanews.com/web/video/index/911480/2",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170926/video_150642024463345.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "视频",
          "font_color": "#4D97DD",
          "border_color": "#4D97DD"
        }
      ],
      "duration": "01:01",
      "image_num": 0,
      "broad_status": 0,
      "start_time": "",
      "comments": "0",
      "pub_time": "2天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "http://cdn.vrcdkj.cn/Act-ss-mp4-hd/474e2cc954b9478988844b196ff956e2/1506419935193239925t1w1go.mp4",
      "show_comment": 0,
      "show_view": 1,
      "author": "",
      "partner_num": 0,
      "other_tags": null,
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 911289,
      "cate": 2,
      "type": 4,
      "title": "自称“全国第一”的律师事务所被处罚  涉虚假宣传",
      "desc": "自称“全国第一”的律师事务所被处罚  涉虚假宣传",
      "source": "",
      "views": "1k+",
      "create_uid": "86",
      "share_url": "http://www.kanfanews.com/web/video/index/911289/2?share=1",
      "share_img": "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png",
      "url": "http://www.kanfanews.com/web/video/index/911289/2",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170926/video_150641935474211.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "视频",
          "font_color": "#4D97DD",
          "border_color": "#4D97DD"
        }
      ],
      "duration": "01:00",
      "image_num": 0,
      "broad_status": 0,
      "start_time": "",
      "comments": "0",
      "pub_time": "2天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "http://cdn.vrcdkj.cn/Act-ss-mp4-hd/b4b6d841220f4b3a8dc2b6d124c50821/15064190249628xw5zs029gkd.mp4",
      "show_comment": 0,
      "show_view": 1,
      "author": "",
      "partner_num": 0,
      "other_tags": null,
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 911297,
      "cate": 2,
      "type": 4,
      "title": "交通事故停车场犹如乱葬岗  大量京牌儿车废弃",
      "desc": "交通事故停车场犹如乱葬岗  大量京牌儿车废弃",
      "source": "",
      "views": "2k+",
      "create_uid": "86",
      "share_url": "http://www.kanfanews.com/web/video/index/911297/2?share=1",
      "share_img": "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png",
      "url": "http://www.kanfanews.com/web/video/index/911297/2",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170926/video_150641962883967.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "视频",
          "font_color": "#4D97DD",
          "border_color": "#4D97DD"
        }
      ],
      "duration": "01:09",
      "image_num": 0,
      "broad_status": 0,
      "start_time": "",
      "comments": "0",
      "pub_time": "1天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "http://cdn.vrcdkj.cn/Act-ss-mp4-hd/2ee0ff6935bf45258a74536c8a40e257/1506419337417qi1grmoym0y8.mp4",
      "show_comment": 0,
      "show_view": 1,
      "author": "",
      "partner_num": 0,
      "other_tags": null,
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 911481,
      "cate": 2,
      "type": 4,
      "title": "鹿鸣慈宁宫：9只皇家御鹿移居故宫",
      "desc": "",
      "source": "",
      "views": "2k+",
      "create_uid": "87",
      "share_url": "http://www.kanfanews.com/web/video/index/911481/2?share=1",
      "share_img": "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png",
      "url": "http://www.kanfanews.com/web/video/index/911481/2",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170926/video_150642026893399.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "视频",
          "font_color": "#4D97DD",
          "border_color": "#4D97DD"
        }
      ],
      "duration": "00:59",
      "image_num": 0,
      "broad_status": 0,
      "start_time": "",
      "comments": "0",
      "pub_time": "2天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "http://cdn.vrcdkj.cn/Act-ss-mp4-hd/1ea97ab8a5974eaea20a82129441d1ae/1506419960622q2v62lmeiitx.mp4",
      "show_comment": 0,
      "show_view": 1,
      "author": "",
      "partner_num": 0,
      "other_tags": null,
      "is_liked": 0,
      "splited": 1
    },
    {
      "is_adv": 0,
      "id": 911482,
      "cate": 2,
      "type": 4,
      "title": "“踩高跷、舞太狮”  非遗文化展演尽显民俗魅力",
      "desc": "",
      "source": "",
      "views": "2k+",
      "create_uid": "87",
      "share_url": "http://www.kanfanews.com/web/video/index/911482/2?share=1",
      "share_img": "http://kanfaimage.oss-cn-beijing.aliyuncs.com/defaultlogo.png",
      "url": "http://www.kanfanews.com/web/video/index/911482/2",
      "image": "https://kanfaimage.oss-cn-beijing.aliyuncs.com/20170926/video_150642029048082.jpg?x-oss-process=image/resize,m_fill,w_748,h_400",
      "images": [],
      "card_type": 5,
      "tags": [
        {
          "name": "视频",
          "font_color": "#4D97DD",
          "border_color": "#4D97DD"
        }
      ],
      "duration": "00:57",
      "image_num": 0,
      "broad_status": 0,
      "start_time": "",
      "comments": "0",
      "pub_time": "2天前",
      "custom_url": "",
      "is_faved": 0,
      "video_source": "http://cdn.vrcdkj.cn/Act-ss-mp4-hd/587925be2a2347ceae000f0d81020554/1506419976105g9x22xa3dekm.mp4",
      "show_comment": 0,
      "show_view": 1,
      "author": "",
      "partner_num": 0,
      "other_tags": null,
      "is_liked": 0,
      "splited": 1
    }
  ],
  "api_version": ".",
  "error_code": 0,
  "error_msg": ""
}